@import url("https://use.typekit.net/odw1cig.css");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #D8DBE2;
    background-color: #2B2C28;
}


/*------------Header-------------*/
header {
    padding: 20px;
    width: 90%;
}

header>h1 {
    font-size: 2.3rem;
    margin: 0;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: italic;
}

header>p {
    font-size: .8rem;
}


/*------------Main-------------*/
#border-div {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 75%;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
}

#user-port {
    margin: 2% auto;
    background-color: #2B2C28;
    width: 90%;
    border: 1px #000 solid;
}

#user-port>h2 {
    padding: 5px;
    font-family: all-round-gothic, sans-serif;
    font-style: italic;
}

#user-port>p {
    padding: 5px;
}

input {
    margin: 5px;
    padding: 5px;
    background-color: #ddd;
    width: 85%;
}

#pal-console {
    margin: 10px auto;
    width: 60%;
    height: 100px;
    background-color: #000;
    color: #fff;
    border: 1px #fff solid;
}


/*------------Footer-------------*/
footer {
    position: relative;
    display: inline;
    bottom: 0px;
    margin: 30px 30% 0 30%;
    clear: both;
}

#disclaimer {
    margin: 20px;
    text-align: center;
}