@import url("https://use.typekit.net/odw1cig.css");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ffffcc;
    background-color: #2b2c28;
    background-image: url('/assets/images/dashboard.jpg');
    background-repeat: repeat;
    background-size: 100px 100px;
}


/*---------------------------Header---------------------------*/
header {
    margin: 10px auto;
    padding: 20px;
    width: 260px;
    border: 5px outset #fff;
    background: linear-gradient(#333, #424242)
}

header>h1 {
    font-size: 2.3rem;
    margin: 0;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: italic;
}

header>p {
    font-size: .8rem;
}


/*---------------------------Main-----------------------------*/

/*------------Console 1-------------*/
#console-1 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 570px;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
    background-image: url(https://live.staticflickr.com/6218/6999853657_1dbf92c7da_b.jpg);
    border: 5px #fff outset;
}
.user-port {
    margin: 2% auto;
    background-color: #2b2c28;
    width: 90%;
    border: 5px #fff inset;
}

#user-port>h2 {
    padding: 5px;
    font-family: all-round-gothic, sans-serif;
    font-style: italic;
}

#user-port>p {
    padding: 5px;
    font-size: .9rem;
}

#user-input>input {
    margin: 5px;
    padding: 5px;
    background-color: #ddd;
    width: 85%;
}

#pal-console {
    margin: 10px auto 30px;
    width: 90%;
    height: 150px;
    background-color: #000;
    color: #77fdd5;
    border: 5px #fff inset;
}

#pals-eye {
    margin: 25px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(#e94f37, #000);
    border: 30px #666 inset;
    filter: drop-shadow(20px 20px #666,
                        20px 20px #666);
}

#glint {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: radial-gradient(#fff, #e94f37);
    left: 55%;
    top: 660px;
    z-index: 2;
    box-shadow: 0px 0px 5px #fff;
}

/*------------Console 2-------------*/
#console-2 {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 850px;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
    background-image: url(https://live.staticflickr.com/6218/6999853657_1dbf92c7da_b.jpg);
    border: 5px #fff outset;
}

hr {
    border: 1px #d8dbe2 outset;
}

#dr-pal-console {
    margin: 10px auto 0;
    width: 90%;
    height: 150px;
    background-color: #000;
    color: #fff;
    border: 5px #fff inset;    
}

#vid-credit {
    margin: 3px auto 30px;
    width: 90%;
    height: 20px;
    background-color: #000;
    color: #77fdd5;
    border: 5px #fff inset;
}

#exist {
    margin: 10px;
    width: 230px;
    display: inline-block;
    background-color: #832e21;
    color: #ffffcc;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}

#luck-sol {
    margin: 0 0 10px;
    width: 230px;
    display: inline-block;
    background-color: #832e21;
    color: #ffffcc;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}

#wl-ex {
    height: 148px;
    padding-top: 1px;
    display: none;
}

#luck {
    height: 148px;
    padding-top: 1px;
    display: none;
}

#pal-prescription-speaker {
    margin: 0px auto 50px;
    width: 150px;
    height: 150px;
    background-color: #000;
    background-image: url('/assets/images/grille.jpg');
    background-position: center;
    background-size: cover;
    border: 5px #fff inset; 
    border-radius: 50%;
}

#prescription input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#prescription label {
    margin: 10px;
    display: inline-block;
    background-color: #832e21;
    color: #ffffcc;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}


/*-----------------------------Footer-----------------------------*/
footer {
    margin: 10px auto;
    padding: 5px;
    width: 290px;
    border: 5px outset #fff;
    background: linear-gradient(#424242, #222)
}

#disclaimer {
    margin: 2px;
    text-align: center;
}