@import url("https://use.typekit.net/odw1cig.css");

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-weight: 300;
    font-style: normal;
    color: #ffffcc;
    font-family: ocr-a-std, sans-serif;
    font-weight: 100;
    text-shadow: -1px -1px 2px #000;
    background-color: #2b2c28;
    background-image: url('/assets/images/dashboard.jpg');
    background-repeat: repeat;
    background-size: 100px 100px;
}


/*---------------------------Header---------------------------*/
header {
    margin: 10px auto;
    width: 300px;
    border: 5px outset #fff;
    background: linear-gradient(#333, #424242)
}

header>h1 {
    font-size: 1.5rem;
    margin: 20px 15px 10px;
}

header>p {
    margin: 3px 15px 10px;
    font-size: 1rem;
}


/*---------------------------Main-----------------------------*/

/*------------Console 1-------------*/
#console-1 {
    margin: auto;
    padding-top: 10px;
    text-align: center;
    width: 300px;
    height: 570px;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
    background-image: url(https://live.staticflickr.com/6218/6999853657_1dbf92c7da_b.jpg);
    border: 5px #fff outset;
}

.user-port {
    margin: 2% auto;
    background-color: #2b2c28;
    width: 90%;
    border: 5px #fff inset;
}

h2 {
    font-size: 1.2rem;
    padding-top: 10px;
}

#user-port>p {
    padding: 5px;
    font-size: 1rem;
}

#user-activity {
    margin: 5px;
    padding: 5px;
    background-color: #000;
    font: 1rem lores-21-serif, sans-serif;
    color: #77fdd5;
    width: 85%;
}

#submit {
    margin: 0 10px 10px;
    width: 230px;
    display: inline-block;
    background-color: #832e21 !important;
    color: #ffffcc;
    font-family: printf, sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}

#pal-console {
    margin: 10px auto 30px;
    width: 90%;
    height: 150px;
    background-color: #000;
    font-family: lores-21-serif, sans-serif;
    font-size: 1.3rem;
    color: #77fdd5;
    border: 5px #fff inset;
    overflow: scroll;
}

#pals-eye {
    position: relative;
    margin: 25px auto;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(#e94f37, #000);
    border: 30px #666 inset;
    filter: drop-shadow(20px 20px #666,
                        20px 20px #666);
}

#glint {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: radial-gradient(#fff, #e94f37);
    left: 80px;
    top: 27px;
    z-index: 2;
    box-shadow: 0px 0px 5px #fff;
}

/*---------Media query info----------*/
#info {
    width: 300px;
    height: 258px;
    display: none;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
    background-image: url(https://live.staticflickr.com/6218/6999853657_1dbf92c7da_b.jpg);
    border: 5px #fff outset;
}

/*------------Console 2-------------*/
#console-2 {
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    width: 300px;
    height: 850px;
    background: linear-gradient(to top, silver 0%, rgb(87, 87, 87) 100%);
    background-image: url(https://live.staticflickr.com/6218/6999853657_1dbf92c7da_b.jpg);
    border: 5px #fff outset;
}

hr {
    border: 3px #d8dbe2 outset;
}

.user-port p {
    font-size: .8rem;
    padding: 10px 22px;
}

#buttons {
    text-align: center;
}

.c2-button {
    margin: 0 10px 10px;
    width: 230px;
    display: inline-block;
    background-color: #832e21;
    color: #ffffcc;
    font-family: printf, sans-serif;
    text-shadow: 1px 1px 1px #000;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}

#dr-pal-console {
    margin: 10px auto 0;
    width: 90%;
    height: 150px;
    background-color: #000;
    color: #fff;
    border: 5px #fff inset;    
}

#vid-credit {
    margin: 3px auto 30px;
    width: 90%;
    height: 20px;
    background-color: #000;
    color: #77fdd5;
    text-align: center;
    font-family: lores-21-serif, sans-serif;
    border: 5px #fff inset;
}

#wl-ex {
    height: 147px;
    padding-top: 1px;
    display: none;
}

#luck {
    height: 148px;
    padding-top: 1px;
    display: none;
}

#intuition {
    height: 148px;
    padding-top: 1px;
    display: none;
}

#pal-prescription-speaker {
    margin: 0px auto 50px;
    width: 150px;
    height: 150px;
    background-color: #000;
    background-image: url('/assets/images/grille.jpg');
    background-position: center;
    background-size: cover;
    border: 5px #fff inset; 
    border-radius: 50%;
}

#prescription input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#prescription label {
    margin: 10px;
    display: inline-block;
    background-color: #832e21;
    color: #ffffcc;
    padding: 10px 20px;
    border: 8px solid #222;
    border-radius: 3px;
    box-shadow: 3px 3px 3px #000;
}


/*-----------------------------Footer-----------------------------*/
footer {
    margin: 10px auto;
    padding: 5px;
    width: 290px;
    border: 5px outset #fff;
    background: linear-gradient(#424242, #222)
}

#disclaimer {
    font-size: .6rem;
    margin: 2px;
    text-align: center;
}


/*--------------------------Media queries--------------------------*/
@media screen and (min-width: 768px) {
    header {
        width: 79%
    }

    main {
        display: flex;
    }

    #console-1 {
        margin: 10px 5px auto 10%;
    }

    #wl-ex {
        height: 144px;
        padding-top: 2px;
    }

    #info {
        display: block;
    }

    #console-2 {
        margin: 10px 10% auto 5px;
    }

    footer {
        padding: 20px;
        width: 73%;
    }
}